####################################
# Miscellaneous
####################################
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

####################################
# IntelliJ / Android Studio
####################################
*.iml
*.ipr
*.iws
.idea/
.idea/**

####################################
# VS Code
####################################
.vscode/

####################################
# Flutter / Dart / Pub
####################################
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

####################################
# Flutter platform build artifacts
####################################
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/app/intermediates/
android/app/outputs/

ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/Flutter.framework
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh

macos/Pods/
macos/Flutter/ephemeral/

linux/flutter/ephemeral/
windows/flutter/ephemeral/

####################################
# Web
####################################
web/.dart_tool/
web/build/

####################################
# Symbolication / Obfuscation
####################################
app.*.symbols
app.*.map.json

####################################
# Android Studio build outputs
####################################
android/app/debug
android/app/profile
android/app/release
